
html, body, #root {
    padding: 0;
    height: 100%;
}

html, body {
    margin: 0;
}

#root {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.4;
    margin: 0 auto;
    width: 70%;
}

@media screen and (max-width: 800px) {
    #root {
        width: 100%;
    }
}

#common-layout-root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#header {
    font-size: 45px;
    font-weight: bolder;
    color: forestgreen;
    margin-top: 45px;
    margin-bottom: 45px;
    border-bottom: solid 5px forestgreen;
}

#content {
    flex: 1;
}

#footer {
    margin-top: 30px;
    border-top: solid 5px forestgreen;
    height: 50px;
}

#footer div {
    padding-top: 10px;
}

#footer div a {
    font-size: 20px;
    font-weight: bold;
}

.dateTime {
}

.title {
    font-size: 35px;
    font-weight: bolder;
    margin-bottom: 5px;
}

.comment td {
    vertical-align: top;
    padding-bottom: 20px;
}

.commentTitle {
    margin-top: 40px;
    margin-bottom: 10px;
    font-weight: bolder;
}

.commentBox {
    color: gray;
    margin-top: 10px;
}

.commentBox span:first-child {
    margin-right: 5px;
}

.answerBox a:first-child {
    margin-right: 10px;
}

a {
    color: forestgreen;
}

input {
    width: 200px;
    padding: 3px;
    margin: 4px;
}

input:not([type="submit"]) {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 3px;
    margin: 4px;
    border: 1px solid #ccc;
}

textarea.error, input.error {
    box-shadow: 0 0 3px red;
}

span.error, div.error {
    color: red;
}

div.success {
    color: green;
}

.postPreview {
    margin-bottom: 40px;
}


/** Redefine colors for admin panel */
.admin #header {
    color: firebrick;
    border-bottom: solid 5px firebrick;
}

.admin a {
    color: firebrick;
}

.boxTitle {
    font-size: 18px;
    font-weight: bolder;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}